altgraph==0.17.5
charset-normalizer==3.4.7
contourpy==1.3.2
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
filelock==3.29.0
fonttools==4.63.0
fsspec==2026.4.0
ImageIO==2.37.3
importlib_resources==7.1.0
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.5.0
lazy-loader==0.5
macholib==1.16.4
MarkupSafe==3.0.3
matplotlib==3.9.4
monai==1.3.2
mpmath==1.3.0
networkx==3.6.1
nibabel==5.2.1
numpy==1.26.4
packaging==26.0
pandas==2.0.3
pillow==11.3.0
portalocker==3.1.1
psutil==6.1.1
pydicom==3.0.2
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.6
pylibjpeg==2.1.0
pylibjpeg-libjpeg==2.4.0
pylibjpeg-openjpeg==2.5.0
pyparsing==3.3.2
PyQt6==6.11.0
PyQt6-Qt6==6.11.1
PyQt6_sip==13.11.1
python-dateutil==2.9.0.post0
pytz==2026.2
PyWavelets==1.8.0
reportlab==4.5.1
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.15.3
-e git+https://github.com/MuscleMap/MuscleMap.git@d11df779a4e146e7e913b89cb202fc06a6e2ef6a#egg=scripts
seaborn==0.13.2
simpleitk==2.5.5
six==1.17.0
sympy==1.14.0
threadpoolctl==3.6.0
tifffile==2026.3.3
torch==2.4.1
torchvision==0.27.0
tqdm==4.67.1
transforms3d==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
